<%= form_for([@user, @site, @page_new]) do |f| %>
  <%= f.hidden_field :site_id, :value => @site.id %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :template_id %><br>
    <%= f.collection_select(:template_id, @templates, :id, :title) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>