<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<style type="text/css">

</style>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn btn-default" id="picture-btn" data-original-title="<%= t('editor.dragPicture') %>"
            data-placement="bottom" rel="popover"><i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
        </button>
        <button class="btn draggable btn-default" id="video-btn" data-toggle="tooltip" title="<%= I18n.t('page.dragVideo')%>">
          <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></button>
        <button class="btn draggable btn-default" id="text-btn"  data-toggle="tooltip" title="<%= I18n.t('page.dragText') %>">
          <i class="fa fa-font fa-2x" aria-hidden="true"></i></button>
        <button class="btn btn-default" id="add-page" data-toggle="modal" data-target="#newPageDialog"  data-toggle="tooltip" title="<%= I18n.t('page.addPage') %>">
          <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        </button>
        <button class="btn btn-default" id="save" data-toggle="tooltip" title="<%= I18n.t('page.save') %>"><i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div class="panel-body height-row editor-panel"><%= render "page", locals: {action: "edit"} %></div>
</div>


<div class="modal fade" id="newPageDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel"><%= t('editor.newPage') %></h4>
      </div>
      <div class="modal-body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var Data = {
    videoEmptyText : "<%= I18n.t('page.enter.video') %> URL",
    markdownEmptyText : "<%= I18n.t('page.enter.text') %>",
    clickToEdit : "<%= I18n.t('page.clickToEdit') %>",
    pictures: '<%= escape_javascript(render "pictures") %>'
}
</script>


