<%= devise_error_messages! %>

<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
  <div class="logo"><%= I18n.t('devise.sessions.new.sign_in') %>  </div>
  <!-- Main Form -->
  <div class="login-form-1">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'text-left'}) do |f| %>
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
          <div class="login-group">
            <div class="form-group">
              <%= f.label :email, class: "sr-only" %><br/>
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email" %>
            </div>
            <div class="form-group">
              <%= f.label :password, class: "sr-only" %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password" %>

            </div>
            <div class="form-group">
              <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              <% end %>
            </div>

          </div>
          <%= f.submit ">", class: "login-button" do %>
              <i class="fa fa-chevron-right"></i>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
    <% end %>
  </div>
  <!-- end:Main Form -->
</div>