<p><%= I18n.t('devise.mailer.unlock_instructions.greeting') %><%= @resource.email %>!</p>

<p><%= I18n.t('devise.mailer.unlock_instructions.message') %></p>

<p><%= I18n.t('devise.mailer.unlock_instructions.instruction') %></p>

<p><%= link_to I18n.t('devise.mailer.unlock_instructions.subject'), unlock_url(@resource, unlock_token: @token) %></p>
