<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<%= form_for([@site]) do |f| %>
    <% if @site.errors.any? %>
        <div id="error_explanation">
          <ul class="alert alert-danger">
            <% @site.errors.messages.each do |message| %>
                <li><%= "#{I18n.t('site.' + message[0].to_s)} #{message[1][0]}" %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label t('site.theme') %><br>
      <%= f.select :theme, {}, {}, {class: "form-control"} do %>
          <% @themes.each do |theme| %>
              <%= content_tag(:option, theme[:name], value: theme[:value]) %>
          <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label t('site.menutype') %><br>
      <%= f.select :menu_type, {}, {}, {class: "form-control"} do %>
          <% @menu.each do |menu| %>
              <%= content_tag(:option, menu[:name], value: menu[:value]) %>
          <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label t('site.template') %><br>
      <%= f.collection_select(:default_template_id, @templates, :id, :title, {}, {class: "form-control"}) %>

    </div>
    <div class="form-group">
      <%= f.label t('site.title') %><br>
      <%= f.text_field :title, class: "form-control", placeholder: t('site.title') %>
    </div>
    <div class="form-group">
      <%= f.label t('site.description') %><br>
      <%= f.text_field :description, class: "form-control", placeholder: t('site.description')  %>
    </div>
    <%= f.fields_for :picture do |ff| %>
        <div  class="form-group">
          <button type="button" class="btn btn-default btn-sm" id="logo"><%= t('site.chooseLogo') %></button>
          <img src="" alt="<%= t('site.fileNotChoosed') %>" id="imgLogo" width="150" class="img-rounded">
          <%= ff.hidden_field :url %>
          <%= ff.hidden_field :public_id %>
        </div>

    <% end %>
    <div class="form-group">
      <%= f.autocomplete_field :tag_list, autocomplete_tag_name_sites_path,
                               'data-delimiter' => ' ', placeholder: t('tags') %>
    </div>
    <div class="actions">
      <%= f.submit t('create'), class: "btn btn-default" %>
    </div>
<% end %>

<script type="text/javascript">
  $("#logo").click(function(){
    showUploadDialog(this, placeUrlInField);
  });

  function placeUrlInField(error, result, elem) {
    var url = result[0]['url']
    $("#site_picture_attributes_url").val(url);
    $("#imgLogo").attr("src", url)
    $("#site_picture_attributes_public_id").val(result[0]['public_id']);
  }
</script>