<div class="row stylish-panel">
  <% @sites.each_slice(2).to_a.each do |pair|%>
      <div class="row">
        <% pair.each do |site| %>

            <div class="col-md-6 site-tile">
              <div id="rating">
                <h2><%= link_to site.title, site_page_path(site, site.first_page) %></h2>
                <%= image_tag site.picture.url, class:"img-responsive img-thumbnail", style:"height:200px;" %>
                <p class="description"><%= site.get_short_description %></p>
                <% if can? :read, site %>
                    <%= link_to t('site.moreInfo'), site_path(site), class: "btn btn-primary" %>
                <% end %>
                <div class="site-rating">
                  <%= rating_for site, "original_score", disable_after_rate: true, imdb_avg: true, cancel: false %>
                </div>
                <p>
                  <i class="icon-user"></i> <%= site.user.name %>
                  | <i class="icon-calendar"></i> <%= I18n.l site.created_at, format: :long %>
                </p>
                <p>
                  <% if site.tag_list.count > 0 %>
                      <i class="icon-tags"></i><%= I18n.t('tags') %> :
                      <% site.tag_list.each do |tag| %>
                          <%= link_to sites_path(tag: tag) do %><span class="label label-info"><%= tag %></span><% end %>
                      <% end %>
                  <% end %>
                </p>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
  <%= will_paginate @sites,
                    :previous_label => "&#8249;",
                    :next_label => "&#8250;"
  %>
</div>