<!-- <link rel="stylesheet" type="text/css" href="jqcloud.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<%= javascript_include_tag('jqcloud.js') %>

<script type="text/javascript">

  var word_array = [
    <% Site.tag_counts.each do |tag| %>
    {text: "<%= tag.name %>", weight: <%= tag.taggings_count %>, link: "<%= search_path(:tag => tag.name) %>" },
    <% end %>
  ];

  $(function() {
    // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
    $("#example").jQCloud(word_array, {});
  });
</script>
<div id="example" style="width: 550px; height: 350px; color: black;"></div> -->

<div class="col-sm-8">
<%= render "sites" %>
</div>
<div class="col-sm-4">
  <%= render "sidebar" %>
    
</div>