<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @site.theme %>
</p>

<p>
  <strong>Menu type:</strong>
  <%= @site.menu_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @site.title %>
</p>
 -->

<%= link_to 'Edit', edit_user_site_path(@site.user_id, @site) %> |
<%= link_to 'Back', user_sites_path(@site.user_id, @site) %>
