<!DOCTYPE html>
<html>
<head>
  <title>SiteBuilder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'SiteBuilder', index_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><%= I18n.t :home %></a></li>
      <li><a href="#"><%= I18n.t :page %> 1</a></li>
      <li><a href="#"><%= I18n.t :page %> 2</a></li>
      <li>
        <%= form_tag 'search', method: "get" do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag I18n.t :search, :name => nil %>
        <% end %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><%= render 'devise/menu/registration_items' %></li>
        <li><%= render 'devise/menu/login_items'%></li>
    </ul>
  </div>
</nav>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-8 text-left">
      <%= yield %>
    </div>
  </div>
</div>
<!-- 
<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
<<<<<<< HEAD

<br/>
<br/>
 -->

</body>
</html>
