<!DOCTYPE html>
<html>
<head>
  <title>SiteBuilder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", root_path %></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
            <%= link_to user_path(current_user.id) do%>
              <span class="glyphicon glyphicon-user"></span> My account
            <% end %>
        </li>

        <li>
          <%= link_to destroy_user_session_path, :method => :delete do%>
            <span class="glyphicon glyphicon-log-out"></span> Log out
          <% end %>
        </li>
              <% else %>
          <li>
            <%= link_to new_user_registration_path do%>
              <span class="glyphicon glyphicon-user"></span> Sign Up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in"></span> Login
              <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-8 text-left">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
        <p> <%= current_user.name %>, <%= current_user.role %>, <%= current_user.id %></p>
      <% end %>
    	<%= yield %>
    </div>
  </div>
</div>
<!-- 
<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
 -->

</body>
</html>
