<!DOCTYPE html>
<html>
<head>
  <title>SiteBuilder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <%= link_to "Website Builder", root_path, class:"navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><%= active_link_to "Home", root_path, :wrap_tag => :li, :active => :exclusive %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
            <%= active_link_to user_path(current_user.id), :wrap_tag => :li  do%>
              <span class="glyphicon glyphicon-user"></span> My account
            <% end %>
        </li>

        <li>
          <%= link_to destroy_user_session_path, :method => :delete do%>
            <span class="glyphicon glyphicon-log-out"></span> Log out
          <% end %>
        </li>
              <% else %>
          <li>
            <%= link_to new_user_registration_path do%>
              <span class="glyphicon glyphicon-user"></span> Sign Up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in"></span> Login
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
  </div>
</nav>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-12">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
        <p> <%= current_user.name %>, <%= current_user.role %>, <%= current_user.id %></p>
      <% end %>

    	<%= yield %>
      </div>
  </div>
</div>
</body>
</html>
